/target/
*.log
logs/
reports/extent-reports/screenshots/
reports/logs/
*.iml
.idea/
.classpath
.project
.settings/
.DS_Store
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
.env
*.report
*.tmp
*.bak
*.swp
